/* Прокрутка вверх */
#scrollup {
    background-color: #666;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    color: #eee;
    cursor: pointer;
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    z-index: 9999;
    transition: color .1s ease-in 0;
}
#scrollup i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}